@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@layer theme {
  :root {
    /* Шрифты */
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';

    /* Цветовая схема */
    --color-scheme: var(--tg-color-scheme, dark);

    /* Размеры */
    --viewport-height: var(--tg-viewport-height, 100vh);
    --viewport-stable-height: var(--tg-viewport-stable-height, 100vh);

    /* Цвета */
    --theme-bg: var(--tg-theme-bg-color, #2d2d2d);
    --theme-secondary-bg-color: var(--tg-theme-secondary-bg-color, #363636);
    --theme-text: var(--tg-theme-text-color, #ffffff);
    --theme-link: var(--tg-theme-link-color, #1a73e8);
    --theme-navbar: var(--tg-theme-header-bg-color, #f3f3f3);
    --theme-button-bg: var(--tg-theme-button-bg-color, #e4e6eb);
    --theme-button-text: var(--tg-theme-button-text-color, #000000);
    --theme-header-bg: var(--tg-theme-header-bg-color, #f7f7f8);
    --theme-header-text: var(--tg-theme-header-text-color, #1a1b1f);
    --theme-accent-bg: var(--tg-theme-accent-bg-color, #f1f1f1);
    --theme-accent-text: var(--tg-theme-accent-text-color, #1a73e8);
    --theme-hint-text: (var(--tg-theme-hint-color), #6c757d);

    --theme-ton-color: #0098ea;

    /* Размеры для макс. ширины и шрифта */
    --theme-default-max-width: 500px;
    --theme-outer-border-radius: 8px;
    --theme-inner-border-radius: 4px;

    --theme-font-size: 12px;
    --theme-line-height: 1.5;

    --theme-outer-gap: 24px;
    --theme-inner-gap: 18px;

    /* Прочие переменные */
    --theme-primary-button-bg: var(--tg-theme-primary-button-bg-color, #007bff);
    --theme-primary-button-text: var(
      --tg-theme-primary-button-text-color,
      #ffffff
    );
    --theme-secondary-button-bg: var(
      --tg-theme-secondary-button-bg-color,
      #6c757d
    );
    --theme-secondary-button-text: var(
      --tg-theme-secondary-button-text-color,
      #ffffff
    );
    --theme-input-bg: var(--tg-theme-input-bg-color, #ffffff);
    --theme-input-text: var(--tg-theme-input-text-color, #000000);
    --theme-placeholder-text: var(--tg-theme-placeholder-text-color, #6c757d);
    --theme-border-color: var(--tg-theme-border-color, #ccc);
  }
}

html,
body {
  background-color: var(--theme-bg);
  color: var(--theme-text);
  color-scheme: var(--color-scheme);
  font-family: var(--font-sans);
  font-size: var(--theme-font-size);
  line-height: var(--theme-line-height);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
